extends ../skeleton.jade

block meta
	meta(name='keywords', content='Поиск, компании, услуги, поставщики, каталог, визитки')
	meta(name='description', content='Визуальная поисковая система компаний и услуг. Найди то что нужно, удобно и быстро.')

block body
	div
		| Цель проекта – предоставить более удобный поиск компаний и их услуг в интернете, по сравнению с
		| тем что предлагает классический поиск как Google, так и Яндекс, так и все другие подобные системы.
		| Основная проблема при классическом поиске – трата времени на адаптацию человека к конкретному сайту,
		| каждый сайт старается сделать дизайн уникальным, меню, информация и кнопки расположены в разных местах.
		| Всё это тратит время и силы. Однако это можно оптимизировать. На сайте фирмы.онлайн вся информация
		| всегда выглядит одинаково и предсказуемо, а значит что время тратится на анализ нужна ли конкретная
		| услуга или другая, а не на изучение строения очередного сайта. Дополнительно для ещё большего удобства там
		| сконцентрирована и ограничена по объему только нужная информация, вся вторичная информация, вроде статей,
		| новостей и блогов – исключена. При желании посетитель может сам перейти по ссылке на сайт и уже там изучить
		| то что ему нужно подробнее. Дополнительно ко всему используется визуальный поиск – то, чего нет
		| в классических поисковиках. Вместо простыни текста показывается картинка. А это значит что не нужно
		| вчитываться в текст и можно использовать визуальные образы, то что заложено уже миллионы лет у большинства
		| живых существ. А вот умение читать появляется лишь после обучения. Ещё один простой аналог – средние века
		| и сапог, подвешанный на стене – сразу говорит что тут живет и работает сапожник. Впрочем, это всё
		| уже используется в мобильных телефонах – иконки вместо текстового списка приложений. Но вот в поисковых
		| системах на подобие Google или Яндекс – такое не используется до сих пор. Также, в отличие от универсальных
		| поисковых систем, здесь можно найти конкретно компании, без сопутствующего мусора.
	div(id="startDesktopSearch", role="presentation")
		img(id="image-1016", src="/resources/img/logo.svg", alt="Логотип")
		div(id="component-1017")
			| Визуальная поисковая система компаний и услуг
		div(role="presentation" id="container-1018")
			div(id="container-1018-innerCt", role="presentation")
				div(id="container-1018-targetEl", role="presentation")
					div(role="presentation", id="textfield-1019")
						label(id="textfield-1019-labelEl", for="textfield-1019-inputEl")
							span
								span(id="textfield-1019-labelTextEl")
						div(id="textfield-1019-bodyEl", role="presentation")
							div(id="textfield-1019-triggerWrap", role="presentation")
								div(id="textfield-1019-inputWrap", role="presentation")
									div(style='padding: 30px'): input(
										style='width: 300px;',
										id="textfield-1019-inputEl",
										type="search",
										size="1",
										name="textfield-1019-inputEl",
										placeholder="Что ищем? Например - химчистка",
										role="textbox",
										aria-hidden="false",
										aria-disabled="false",
										aria-readonly="false",
										aria-invalid="false",
										aria-required="false",
										autocomplete="off"
									)
							div(id="textfield-1019-ariaErrorEl", role="alert", aria-live="polite", class="x-hidden-clip")
					div(style='padding: 30px'): a(hidefocus="on", unselectable="on", role="button", aria-hidden="false", aria-disabled="false", id="button-1020", tabindex="0")
						span(id="button-1020-btnWrap", role="presentation", unselectable="on")
							span(id="button-1020-btnEl", role="presentation", unselectable="on")
								span(id="button-1020-btnIconEl", role="presentation", unselectable="on")
								span(id="button-1020-btnInnerEl", unselectable="on") Искать
